{%extends "base.jinja2"%}
{%block content%}

<div class="container pt-5">
  <form class="pt-5" action="/custom-tracker-setup" method="post">
    <div class="mb-3">
      <label for="subName" class="form-label">Enter SubReddit Name (case sensitive)</label>
      <input type="text" required field="subName" value="AnimalsBeingDerps"name="subName" class="form-control" id="subName">
    </div>
    <div class="mb-3">
      <label for="customName" class="form-label">Name your tracker</label>
      <input type="text" required field="customName" value="DerpyAnimalTracker" name="customName" class="form-control" id="customName">
    </div>
    <div class="mb-3">
      <label for="trackedWords" class="form-label">Enter List of words to track (one per line)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <form action="/getWords">
        <button type="button" onClick="addWords({{listOfWords}})" class="btn btn-warning">Generate words</button>
      </form>
      </label>
      <textarea id="wordList" class="form-control" field="trackedWords" name="trackedWords" required id="trackedWords" rows="8"></textarea>
    </div>  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<script>
  const addWords = async (wordList) => {
    response = await fetch('/getWords')
    words = await response.json()
    words = words['words']
    console.log(words.length)
    textArea = document.getElementById('wordList')
    textArea.value = words.join('\n')
    
  }
</script>
{%endblock %}